#diamond-club{
    background-image: linear-gradient(180deg, rgba(13, 24, 44, 0.00) 30%, #030811 100%), url(/image/bg_diamond_club_2.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
}
.diamond-club-container{
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    text-align: center;
    gap: 3rem;
}
.diamond-club-container img{
    max-width: 20%;
    filter: drop-shadow(0px 0px 64px #060D19) drop-shadow(0px 0px 64px #030811);

}
.diamond-club-container h3{
    max-width: 60%;
    margin-bottom: 0;
    color: var(--primary-color-01);
}
.diamond-club-container h3 span{
    color: #fff;
    font-family: var(--font-headers);
}
.detalhes-diamond-club{
    display: flex;
    gap: 1rem;
}
.detalhes-diamond-club p{
    padding: 2.5rem;
    background: var(--diamond-gradient);
    border-radius: var(--box-border-radius);
    font-weight: 700;
}
.detalhes-diamond-club p span{
    font-size: 0.8rem;
}
@media screen and (max-width:900px){
    #diamond-club{
        background-image: linear-gradient(180deg, rgba(13, 24, 44, 0.00) 20%, #030811 80%), url(/image/bg_diamond_club_mobile_2.webp);
    }
    .diamond-club-container{
        gap: 2rem;
    }
    .detalhes-diamond-club{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .detalhes-diamond-club p{
        width: 100%;
    }
    .diamond-club-container h3{
        max-width: 80%;
    }
    .diamond-club-container img{
        max-width: 30%;
    }
}
@media screen and (max-width:600px){
    .detalhes-diamond-club{
        width: 90%;
    }
    .diamond-club-container img{
        max-width: 40%;
    }
    .diamond-club-container h3{
        max-width: 90%;
    }
}
@media screen and (max-width:450px){
  .diamond-club-container h3{
    font-size: 1.3rem;
  }
}
